<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RealEstateDataBase.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FF2714694A699E67F889290B93782382910E85D9</string>
				<key>dateExpires</key>
				<string>2018/11/07</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FF2714694A699E67F889290B93782382910E85D9</string>
						<key>dateExpires</key>
						<string>2018/11/07</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectiveDropboxOfficial.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WV7PNRHR8Y</string>
						<key>name</key>
						<string>BEETRE LLC.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WV7PNRHR8Y.com.beetre.RealEstateDataBase</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WV7PNRHR8Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>WV7PNRHR8Y.com.beetre.RealEstateDataBase</string>
				</array>
			</dict>
			<key>name</key>
			<string>RealEstateDataBase.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e297267d-efc2-41fd-9740-f0ccd128438b</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.beetre.RealEstateDataBase</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WV7PNRHR8Y</string>
				<key>name</key>
				<string>BEETRE LLC.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
